{% extends 'mechanic/base.html' %}

{% block title %}Assigned Work{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Assigned Work</h1>
    <ul class="list-group mt-3">
        {% for work in assigned_work %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ work.service_request }} - {{ work.status }}
            <a href="{% url 'update_work_status' work.pk %}" class="btn btn-primary btn-sm">Update Status</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
