{% extends 'base.html' %}

{% block title %}Mechanic Signup{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Mechanic Signup</h1>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ user_form.as_p }}
                        </div>
                        <div class="mb-3">
                            {{ mechanic_form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
