{% extends 'adminpage/base.html' %}

{% block title %}Delete Service{% endblock %}

{% block content %}
<style>
    .container {
       
        margin-top: 20px;
       
    }

    h2 {
       
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    /* Custom styling for buttons */
    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }
</style>

<div class="container mt-4">
    <h1>Delete Service</h1>
    <p>Are you sure you want to delete the service requested by {{ service_request.customer.get_name }}?</p>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <button type="submit" class="btn btn-danger me-2">Delete</button>
            <a href="{% url 'manage_service_requests' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
